<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML-Clase2</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- Este es mi navbar  -->
    <header>
        <div>
            <h1>Bienvenidos a mi página web...</h1>
        </div>

        <nav>
            <ul>
                <li><a herf="#">Productos</a></li>
                <li><a herf="#">Usuarios</a></li>
            </ul>
        </nav>

        <div>
            <img src="../public/img/Pantalla.jpg">
        </div>
    </header>

    <!-- Esta es la sección de noticias -->
   <section>
        <div>
            <h4>Noticias sobre Fútbol: </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi praesentium, dignissimos, sed repellat voluptatem, at necessitatibus facere fugit itaque dolor similique voluptates velit quae aut veritatis illo? Repellat, amet quae?</p>
        </div>
   </section>

</body>
</html>